.footer {
  background-color: getColor("page-secondary-background-color");
  text-decoration: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__box {
  flex-direction: column;
  display: flex;
}

.footer__box--start {
  margin-right: 70px;
}

.logo__click {
  color: getColor("text-quaternary-color");
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.footer__box--start {
  padding-left: 15px;
}

.logo__first {
  color: getColor("object-primary-background-color");
}

.logo__second--white {
  color: getColor("text-tertiary-color");
}
.footer__header {
  display: flex;
  flex-direction: column;
}

.footer__headerTop {
  color: getColor("text-tertiary-color");
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-top: 12px;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__icons {
  display: block;
}

.footer__icons--footer {
  background-color: getColor("social-links-footer-background-color");
  fill: getColor("social-links-secondary-icon-color");
  border-radius: 50%;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px;
}

.footer__icons--footer:hover,
.footer__icons--footer:focus {
  background-color: getColor("social-links-primary-background-color");
  fill: getColor("social-links-icon-hover-color");
  border-radius: 50%;
}

.footer__link {
  fill: getColor("social-links-secondary-icon-color");
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 12px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: getColor("social-links-icon-hover-color");
    background-color: #2196f3;
    border-radius: 50%;
  }
}
