header {
  background-color: getColor("object-secondary-background-color");
  border-bottom: 1px solid getColor("header-border-bottom-color");
  width: 100%;
}

.header__border {
  border-bottom: 1px solid getColor("header-border-bottom-color");
}
.header__container {
  display: flex;
  height: 80px;
  align-items: center;
  position: relative;
}

.logo {
  color: getColor("object-primary-background-color");
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;

  &--start {
    margin-right: 94px;
  }

  &__color {
    color: getColor("object-primary-background-color");
  }

  &__color--black {
    color: getColor("text-quaternary-color");
  }
}
.menu {
  display: flex;
  align-items: center;

  &__list {
    list-style-type: none;
    display: flex;
    column-gap: 46px;
    padding-left: 0;
    margin-left: 93px;

    &__item {
      text-decoration: none;
      color: getColorr("text-primary-color");
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &__link {
        color: getColorvar("text-primary-color");
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &__link:hover,
        &__link:focus {
          color: getColor("object-primary-background-color");
        }
      }
      &__link--menuActive {
        color: getColor("object-primary-background-color");
      }

      &__link--menuActive::after {
        background-color: getColor("object-primary-background-color");
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 4px;
        width: 53px;
        border-radius: 2px;
      }

      &__active {
        color: getColor("object-primary-background-color");
      }
      &__active::after {
        background-color: getColor("object-primary-background-color");
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 4px;
        width: 58px;
        border-radius: 2px;
      }

      &__active--active::after {
        background-color: getColor("object-primary-background-color");
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        height: 4px;
        width: 58px;
        border-radius: 2px;
      }

      &__active--active {
        color: getColor("object-primary-background-color");
      }
      .contact__list {
        color: getColor("text-secondary-color");
        display: flex;
        font-size: 14px;
        line-height: 1.14;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-decoration: none;
        gap: 30px;
        margin-left: auto;

        &:hover,
        &:focus {
          color: getColor("object-primary-background-color");
        }
      }
      .contact__item {
        color: getColor("text-secondary-color");
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.14;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-decoration: none;
        column-gap: 10px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }

      .contact__icon {
        fill: getColor("parrent-color");
      }
    }
  }
}
