.newsletter__container {
  margin-left: auto;
}

.newsletter__click {
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: getColor("text-tertiary-color");
  padding-bottom: 20px;
  padding-top: 12px;
}

.newsletter__top {
  display: flex;
}

.footer input {
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 50px;
  width: 358px;
  padding: 15px 16px;
}

.newsletter__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  color: getColor("text-tertiary-color");
  background: getColor("object-primary-background-color");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  margin-left: 12px;
  padding-left: 28px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__btn svg {
  fill: getColor("parrent-color");
  margin-left: 24px;
}

.newsletter__icon {
  fill: getColor("parrent-color");
}

.newsletter__icon--end {
  margin-left: 24px;
}

form {
  display: flex;
}
