.offer__section {
  background-color: getColor("page-quarternary-background-color");

  &__header {
    color: getColor("text-primary-color");
    background-color: getColor("page-quarternary-background-color");
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: block;
  }

  &__title {
    position: relative;
  }

  &__image {
    display: block;
  }

  &__text {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    background-color: var(--image-title-background-color);
    color: var(--text-tertiary-color);
    padding: 27px 0;
  }
}
